# The following code is for plotting the relationship between two values.
import matplotlib.pyplot as plt

plt.plot(k_range, scores) plt.xlabel('Number of clusters') plt.ylabel('Cilhouette Coefficient')

# The following code is for plotting a histogram.
drinks.beer.plot(kind='hist', bins=20, title='Histogram of Beer Servings') plt.xlabel('Beer Servings') plt.ylabel('Frequency')

# The following code is for plotting box plots, one with one variable, another with another.
drinks.boxplot(columns='beer', by='continent', showmeans=True) drinks.beer.plot(kind='box')

# The following code is for plotting a scatter plot.
drinks.plot(kind='scatter',x='beer',y='wine', c='spirit', colormap='Greens')

# To recapitualte for others further interested in simplicity:

#   Histogram
drinks.beet.plot(kind='hist', bins=20)

#   Smooth Version of Histogram
drinks.beer.plot(kind='density',xlim=(0,500))

#   Scatter
drinks.plot(kind='scatter', x='beer', y='wine')

#   Scatter Matrix
pd.scatter_matric(drinks[['beer','spirit','wine']])

#   Numerical Comparison across Multiple Categories
drinks.groupby('continent').mean().drop('liters',axis=1).plot(kind='bar', stacked=True)

#   Stacked Histograms
drinks[['beer','spirit','wine']].plot(kind='hist', stacked=True
